<div *ngIf="currentUser">
    <h1>Welcome {{currentUser.firstName}} {{currentUser.lastName}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ad corrupti quis, dolorum labore repudiandae ab iure ratione aperiam inventore voluptatibus pariatur molestias cum qui nemo ipsa modi tempora voluptatum.</p>
    <ul class="list-group">
     <li class="list-group-item">First Name : {{currentUser.firstName}}</li>
     <li class="list-group-item">Last Name : {{currentUser.lastName}}</li>
     <li class="list-group-item">Email : {{currentUser.email}}</li>
    </ul>
</div>
