<div class="row">
  <div class="col-md-6 m-auto">
    <h1 class="text-center">Forgot Password</h1>
    <p>
      Please enter your email address here and send to reset your MEAN App account password.
    </p>
    <hr />
    <form
      *ngIf="!success"
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="forgotPasswordForm.valid && onSubmit()"
    >
      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              forgotPasswordForm.get('email')!.touched &&
              forgotPasswordForm.get('email')!.invalid
          }"
          formControlName="email"
        />
        <span class="invalid-feedback">
          <span *ngIf="forgotPasswordForm.get('email')!.hasError('required')"
            >Email is required.</span
          >
          <span *ngIf="forgotPasswordForm.get('email')!.hasError('email')"
            >Email is invalid.</span
          >
        </span>
      </div>
      <button
        [disabled]="forgotPasswordForm.invalid"
        class="btn btn-sm btn-block btn-info"
      >
        Submit
      </button>
    </form>
    <div *ngIf="success" class="alert alert-success mt-5" role="alert">
      <h4 class="alert-heading">Success!</h4>
      <p>
        Please check your email inbox or spam folder and click on the given link
        to reset password.
      </p>
    </div>
  </div>
</div>
